<%= form_with(model: [post, comment]) do |f| %>
    <div data-controller="emoji-picker">
        <div data-emoji-picker-target="pickerContainer"></div>
        <div>
        <%= f.rich_text_area :body, data: {
        emoji_picker_target: "trixEditor" } %>
        </div>
    </div>

    <div >
        <%= f.submit submit_label, class: "btn btn-primary mt-1 text-white" %>
    </div>
<% end  %>    


  