
<div id="<%= dom_id project %>">

      <h2><%=link_to  project.title, project %></h2>
      <%= link_to project.link, project.link , class: "btn btn-primary"%>
    <br>
    <%= project.body  %>
    
</div>

