<% content_for :title, "Posts" %>
<div class="container card">
  <h1>Posts</h1>
  
    <%= link_to "Back to Home", root_path, class:"btn btn-search" %>
    <%= link_to "New post", new_post_path, class: "btn btn-search" %>
  <hr>

  <div id="posts">
    <% @posts.includes([:category]).each do |post| %>
      <%= render post %>
      <p>
        <%= link_to "Show this post", post, class:"btn btn-search" %>
      </p>
    <% end %>
  </div>

   
</div>
