
<% content_for :title, "Categories" %>

<h1>Categories</h1>

<div id="categories">
  <% @categories.includes([:posts]).each do |category| %>
    <h2><%= category.name %></h2>
    <h5> Posts </h5>
    <ol>
      <% category.posts.each do |post| %>
          <li><%= link_to "#{post.title}" , post %></li>
      <% end %>
    </ol>
    <p>
      <%= link_to "Show this category", category %>
    </p>
  <% end %>
</div>

<%= link_to "New category", new_category_path if current_user&.admin? %>
