<% if current_user %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="badge rounded-pill <%= @unread.count > 0 ? 'bg-danger' : 'bg-secondary' %>">
        <%= @unread.count >= 9 ? "9+" : @unread.count %>
        <i class="bi bi-bell-fill"></i>
      </span>
    </a>

    <ul class="dropdown-menu dropdown-menu-lg-end shadow" aria-labelledby="navbarDropdown">
      <% if @unread.any? %>
        <% @unread.each do |notification| %>
          <%= render 'layouts/notification', notification: notification %>
        <% end %>
      <% end %>

      <% if @read.any? && @unread.any? %>
        <li><hr class="dropdown-divider"></li>
        <li class="dropdown-header text-muted">Read</li>
        <li><hr class="dropdown-divider"></li>
      <% end %>

      <% if (@read.count + @unread.count) == 0 %>
        <li class="dropdown-item text-muted">No notifications yet.</li>
      <% else %>
        <% @read.each do |notification| %>
          <%= render 'layouts/notification', notification: notification %>
        <% end %>
      <% end %>
    </ul>
  </li>
<% end %>
