<li>
  <%= link_to notification.event.url, class: "dropdown-item" do %>
    <div><%= notification.event.message %></div>
    <% if notification.created_at %>
      <small class="text-muted"><%= time_ago_in_words(notification.created_at) %> ago</small>
    <% end %>
  <% end %>
</li>
